body{
    /* background-color:black;  */
 
}
.menu{
    justify-content: space-around;
}
section .custons{
    margin: solid white 1px;
    height: 100%;
    display: flex;

}
 #collor img {
    width: 30%;
    height: 5vh;
    justify-content: flex-end;
    
}

section #menu2{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
#collor{
    width: 50%;
    height: 10vh;
}
.camisetas {
    width:100%;
    height: 50%;
}
input .still{
    width: 100%;
    height: 20vh;
}
.figure{
    width: 50%;
    height: 20vh;
}

.camiseta{
    
    height: 50vh;
    background-color:black;
}
hr{
    height: 2px;

}
.pagenv img{
    height: 10px;
}
  /* #logoDaCamisa{
    width: 50%;
    height: 50%;
    background-color:gray;
    background-size: 25%;
    background-position: center center;
    background-repeat: no-repeat; 
} */ */






